@import '@/common/color.scss';
.slider-container {
  width: 100%;
  padding: 0 15px;
  .shadow {
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.08);
    color: #222;
    border-radius: 10px;
    &:nth-child(n+2) {
      margin-top: 20px;
    }
  }
  .cover {
    font-size: 0;
    padding: 0;
    .col-12 {
      display: inline-block;
      width: 100%;
      height: 200px;
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      text-align: center;
      &:nth-child(n + 2) {
        margin-top: 10px;
      }
      &:hover {
        cursor: pointer;
        .cover1{
          transform: scale(1.1)
        }
        .cover1::after {
          opacity: 1;
        }
        .hover-title span {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
      .cover1 {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        transition: 400ms;
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background: rgba(241, 64, 75, .46);
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: 400ms;
        }
      }
      .hover-title {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
          font-size: 24px;
          color: #fff;
          opacity: 0;
          transition: transform 400ms ease;
          transform: translate3d(0, 100%, 0);
        }
      } 
    }
    .row {
      margin: 10px 0 0 0;
      .col-6 {
        width: 49%;
        box-sizing: border-box;
        margin: 0 1%;
        height: 100px;
        display: inline-block;
        overflow: hidden;
        border-radius: 10px;
        &:hover {
          .item {
            .cover2::after, .cover3::after{
              opacity: 1;
            }
          }
        }
        
        &:first-child{
          margin-left: 0;
        } 
        &:last-child {
          margin-right: 0;
        }
        .item {
          width: 100%;
          height: 100%;
          position: relative;
          .cover2, .cover3 {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background-position: 50% 50%;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            transition: 400ms;
            &::after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              background: rgba(0, 0, 0, .16);
              width: 100%;
              height: 100%;
              opacity: 0;
              transition: 400ms;
            }
            &:hover {
              transform: scale(1.1)
            }
          }
        }
      }
    }
  }
  .recommend {
    padding: 14px 20px;
    dl {
      dt {
        margin-bottom: 10px;
      }
      dd {
        padding:10px 0;
        font-size: 18px;
        &:hover {
          a {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .tagList {
    padding: 14px 20px;
    dl {
      // max-height: 300px;
      // overflow: hidden;
      dt {
        margin-bottom: 24px;
      }
      dd {
        display: inline-block;
        padding: 8px 20px;
        margin: 0 34px 20px 0;
        font-size: 12px;
        background: $BrightColor;
        border-radius: 1020px;
        position: relative;
        transition: opacity 400ms ease;
        &:nth-last-child(1) {
          opacity: 0.1;
        }
        &:nth-last-child(2) {
          opacity: 0.2;
        }
        &:nth-last-child(3) {
          opacity: 0.3;
        }
        &:nth-last-child(4) {
          opacity: 0.4;
        }
        &:nth-last-child(5) {
          opacity: 0.5;
        }
        &:nth-last-child(6) {
          opacity: 0.6;
        }
        &:nth-last-child(7) {
          opacity: 0.7;
        }
        &:nth-last-child(8) {
          opacity: 0.8;
        }
        &:nth-last-child(9) {
          opacity: 0.9;
        }
        .badge {
          position: absolute;
          top: -8px;
          right: -10PX;
          min-width: 10px;
          color: #fff;
          background: #17807d;
          font-size: 8px;
          margin-left: 2px;
          padding: 1PX 3PX;
          text-align: center;
          border-radius: 1020px;
        }
      }
      &:hover dd{
        opacity: 1;
      }
    }
    .more {
      dd {
        opacity: 1!important ;
      }
    }
    .show-more {
      text-align: center;
      .line {
        border-top: 1px solid #eee;
        margin: 0;
      }
      .more-btn {
        display: inline-block;
        margin-top: -24PX;
        color: #5a5a5a;
        border: 1px solid #ecf0f1;
        border-radius: 1020px;
        text-align: center;
        padding: 4PX 10PX;
        vertical-align: middle;
        background: #fff;
        cursor: pointer;
        i {
          margin-left: 2PX;
          font-weight: bold;
        }
      }
    }
  }
  .text-300 {
    font-weight: 300;
  }
  .text-500 {
    font-weight: 500;
  }
  .text-lg {
    font-size: 20PX;
  }
}
$DeepColor: #948C76;
$hoverColor: #e7d9ba;
$BrightColor: #F7F3EE;
$dotColor: #e2e0dc;
$circleColor: #444;
.sliderDetail {
   background: #fff;
   border: 1px solid $BrightColor;
    border-radius: 8px;
    padding: 26px 20px;
  h2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    padding: 0 0 10px 0;
  }
  .list {
    position: relative;
    margin-top: 10px;
    &::after {
      content: '';
      width: 2px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 11px;
      background: $BrightColor;
      z-index: 1;
    }
    .item-list {
      font-size: 1.1em;
      font-weight: bold;
      +.item-list {
        margin-top: 10px;
      }
      > a {
        display: block;
        padding: 10px 26px;
        color: #000;
        position: relative;
        &::after {
          content: '';
          width: 12px;
          height: 12px;
          border-radius: 50%;
          position: absolute;
          top: 15px;
          left: 5px;
          border:1px solid $dotColor;
          background: #fff;
          z-index: 10;
        }
      }
      .item {
        font-size: 0.8em;
        margin-top: 6px;
        position: relative;
        > a {
          display: block;
          padding: 10px 0 10px 50px;
          &::after {
            content: '';
            width: .111111rem /* 6/54 */;
            height: .111111rem /* 6/54 */;
            border-radius: 50%;
            position: absolute;
            top: 15px;
            left: 34px;
            background: $circleColor;
            z-index: 10;
          }
        }
        
      }
    }
    .active {
     > a {
       color: $DeepColor;
       background: #eee;
       &::after {
        background: #fdf4e8;
        border-color: #948c76;
       }
     }
     &::after {
       border:1px solid $DeepColor;
     }
    }
  }
}